<p id="notice"><%= notice %></p>

<p>
  <b>Screenshot:</b>
  <%= link_to image_tag(@preview.screenshot.url), @preview.url %>
</p>


<%= link_to 'Edit', edit_preview_path(@preview) %> |
<%= link_to 'Back', previews_path %>
